<div id="<%= dom_id comment %>">
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= comment.user.email %>
  </p>

  <p> Date: 
    <%= comment.updated_at %>
  </p>

</div>
