<div class= "card mb-4">
  <div class= "card-body pt-4">
    <p class="card-text font-weight-bold"> Comment: <%= comment.body %> </p>
    <p class="card-text font-weight-bold"> Author: <%= comment.user.email %> </p>
    <p class="card-text font-weight-bold"> Date: <%= comment.updated_at %> </p>
    <% if current_user == comment.user %>
      <%= link_to "Edit Comment", edit_project_comment_path(@project, comment) %>
    <% end %>
  </div>
</div>

