
  <h2 class="card-title display-2"><%= project.name %></h2>
  <p class="card-text pt-4"><strong>Status:</strong> <%= project.status.humanize %></p>
  <p class="card-text text-justify pb-4"><strong>Description:</strong> <%= project.description %></p>

