<p style="color: green"><%= notice %></p>

<h1>All Projects</h1>

<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <%= link_to "Go to project", project %>
    </p>
  <% end %>
</div>

<%= link_to "Create a new project", new_project_path %>

